body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.02rem;
  line-height: 1.2;
  color: #fefefe;
  background-color: #101217;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
